#button {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-btn {
  height: 100px;
  width: 400px;
  font-size: 32px;
  background-color: #131579;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#contact-btn:hover {
  background-color: rgb(59, 80, 165);
}

.main-content {
  height: 100%;
  width: 100%;
  display: none;
}
